.parallax_section
    height: 200px
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    background-position: 100% auto
    position: relative

.parallax_image_first
    background-image: url(/assets/img/map.png)

.parallax_image_second
    background-image: url(/assets/img/map.png)
    
h3
    padding: 20px 0 0 20px

.row
    display: flex
    justify-content: center

.box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 0 20px 0
    
.card
    margin: 20px 20px 20px 20px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8)