<div class="parallax_section parallax_image_first">
    </div><!--END PARALLAX FIRST-->


<div class="card_container">
  <div class="card  " style="width: 70rem;">
    <div class="bg1">
    <h1>Island Dreams</h1>
    <!--<img class="card-img-top" src="assets/img/home1.jpg" alt="Card image cap">-->
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>

<div class="parallax_section parallax_image_second">
    </div><!--END PARALLAX SECOND-->
    
    <div class="card_container">
  <div class="card  " style="width: 70rem;">
    <div class="bg2">
    <h1>New York Chronicles</h1>
    <!--<img class="card-img-top" src="assets/img/home1.jpg" alt="Card image cap">-->
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
    
    
<div class="parallax_section parallax_image_third">
    </div><!--END PARALLAX THIRD-->
    
    <div class="card_container">
  <div class="card  " style="width: 70rem;">
    <div class="bg3">
    <h1>Go Hitchhiking</h1>
    <!--<img class="card-img-top" src="assets/img/home1.jpg" alt="Card image cap">-->
    </div>
    <div class="card-body">
      <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</div>
    
<div class="parallax_section parallax_image_fourth">
    </div><!--END PARALLAX FOURTH-->
